$react-color: #61dafb;
$background-Getstarted:#282c34;
$background-footer:#20232a;

// this mixin is used to center our content
@mixin flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// this mixin is used to style buttons
@mixin buttonStyling {
    .getstarted {
        background-color: #61dafb;
        border: 0;
        padding: 1rem;
        // rem unit is used to set content according to the default styling of the browser 
        margin: 0;
        margin-top: 1.5rem;
        font-weight: 400;

        @include Standard-resolution-devices {
            margin-top: .5rem;
            padding: .5rem;
            font-weight: 400;
        }

        font-size: 1.2rem;
    }
}

// this mixin is used to set our content responsive for mobile screens 
@mixin Standard-resolution-devices {
    @media (max-width:475px) and (max-height:510px) {
        @content;
    }
}

// this media query is used to adjust styles for headers on smaller widths   
@mixin standard-header-mobiles {
    @media (max-width:685px) {
        @content;
    }
}
// this media query is used to optimize tablet devices result
@mixin tablet_devices {
    @media (max-width:769px)and (max-height:1025px) {
        @content
    }
}

// this media query is used to adjust header for different heights
@mixin Height-adjust {
    @media (max-width:613px) and (max-height:900px) {
        @content
    }
}
//  this media query is used to adjust header for different heights
@mixin width_adjust {
    @media (min-width:600px) and (max-width:900px) {
        @content
    }
}
//  this media query is used to adjust header for different heights

@mixin header_adjust {
    @media (min-width:770px) and (max-width:1060px) {
        @content
    }
}

.main {
    // main is the main wrapper div of our whole page
    @include Standard-resolution-devices {
        background: rgba(0, 0, 0, 0.461);
        width: 100vw;
        overflow: hidden;
    }
}
* {
    // *selector is used to select everything in our page
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 300;

}

// **********************************Header start*********************************
 

.mainHeader {
    // main header is the content wrapper of our header 
    background: #20232a;
    width: 100vw;
    height: 10vh;
    
    // content is aligned using flex box
    display: flex;
    justify-content: space-around;
    align-items: center;
    // position fixed is used so that our header always sticks to the top
    position: fixed;
    top: 0;
    z-index: 1000;
}
.search {
    // search is the search wrapper for our searchbox 
    @include tablet_devices {
        width: 20%;
    }
    // header is adjusted for different output screens
    @include header-adjust {
        width: 10vw;
        
    }
}
input[type=text],
input[type=text]:focus {
    // different behaviours are aadjusted of our search box
    font-size: 17px;
    color: black;
    background-image: url(./images/search.svg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position-y: center;
    background-position-x: 10px;
    padding-right: 7px;
    padding-left: 34px;
    font-weight: 300;
}

.searchHolder:focus {
    background: #373940;
    outline: none;
    border-radius: 4px;
}

.searchHolder {
    // search holder is the input search box itself
    background: transparent;
    border: none;
    color: white;
    padding: 6px;
    
    @include tablet_devices {
        width: 100%;
    }
    // different looks on multiple devices are adjusted here
    @include standard-header-mobiles {
        width: 50%;
    }
    
    @include header-adjust {
        width: 100%;
    }
}

.mainHeader a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.nav-links {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
// nav links are the first part of our nav links    
    @include standard-header-mobiles {
        width: 45%;
    }
    
    @include tablet_devices {
        overflow-x: scroll;
        width: 45%;
    }
}

.nav-links a {
    // nav links a means taget all anchor tags inside nav links class
    @include standard-header-mobiles {
        width: 20%;
        font-size: .7rem;
        margin-left: 2rem;
        width: 20%;
        font-size: .7rem;
        margin-left: 2rem;
    }
    
}

#documents {
    // documents is the docs part in our header
    @include standard-header-mobiles {
        margin-left: 1rem;
    }
}
.React_logo {
    // react logo is the main wrapper
    display: flex;
    justify-content: center;
    width: 3%;

    @include standard-header-mobiles {
        width: 13%;
    }

    @include header_adjust {
        width: 10%;
        justify-content: flex-start;

    }
}
.React_logo>img {
    // targets the image in our logo
    width: 4vw;
    height: 3.5vh;
    
    @include standard-header-mobiles {
        width: 8vw;
        height: 8vh;
    }
}




.react {
    // .react is the logo text itself
    justify-self: flex-start;
    margin-left: -55px;
    font-weight: 300;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 350;
    letter-spacing: 1px;
    
    @include tablet_devices {
        display: none;
    }

    @include standard-header-mobiles {
        display: none;
    }
}


.react:hover {
    // here different appearence are aplied
    color: #61dafb;
}
// ending links part targets the ending nav links of our header
.ending-links {
    font-weight: 350;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 22%;
    margin-top: .5rem;
    
    @include standard-header-mobiles {
        width: 40%;
        // overflow-x: scroll;
    }
    
    @include tablet_devices {
        // margin-top: 0;
        height: 100%;
        width: 25%;
    }
    
    @include header_adjust {
        width: 25%;
        height: 100%;
        // overflow-x: hidden;
    }
}

.ending-links a {
    @include standard-header-mobiles {
        width: 1%;
        font-size: .8rem;
        margin-left: 1.5rem;
    }
    
    @include tablet_devices {
        width: 52%;
        font-size: 1rem;
        margin-bottom: 1rem;
        align-self: center;
    }
    
    @include header_adjust {
        width: 22%;
    }
}

#version {
    @include standard-header-mobiles {
        width: 1%;
        font-size: .7rem;
        margin-right: 2.5rem;
    }

    @include tablet_devices {
        margin-left: 6.5rem;
        display: none;
    }
    
    @include header_adjust {
        // display: none;
        margin-left: 0rem;
    }
}

.language_svg {
    width: 43%;
    display: flex;
    justify-content: space-around;
    color: white;
    fill: currentcolor;
    
    @include tablet_devices {
        margin-right: 1rem;
        display: none;
    }
    
    @include header_adjust {
        display: none;
        margin-right: 0rem;
    }
    
    svg {
        // display:none;
        @include standard-header-mobiles {
            display:none;
            // margin-top: 10rem;
        }
    }
}

.ending-links>a:hover {
    color: #61dafb;
}

#react-logo {
    transition: all 1s;
}

.logo:hover {
    transform: rotate(360deg);
}


// **********************************Header End*******************************************
// ************************************* React intro*************************************
.intro {
// intro section is the main wrapper of our intro section
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #282c34;
    height: 80vh;
    font-size: 2rem;
    position: relative;
    z-index: 100;
    
    @include Standard-resolution-devices {
        height: 100vh;
        padding: 12px;
    }

    @include Height-adjust {
        height: 65vh;
    }

    @include tablet_devices {
        height: 55%;
    }
}

.heading {
    // heading part targets the introduction section of our body
    color: rgb(97, 218, 251);
    margin: 0;
    margin-top: 7rem;
    font-size: 5rem;
// different settings are adjusted here for multiple screens
    @include Standard-resolution-devices {
        margin-top: 5rem;
    }

    @include Height-adjust {
        margin-top: 5rem;
    }

    @include tablet_devices {
        margin-top: 5rem;
    }

}

.subHeading {
    // subheading section is the subheading for our intro part
    color: #ffffff;
    margin: 0;
    font-size: 2rem;
    font-weight: 100;
    margin-top: 5vw;
    text-align: center;

    @include Standard-resolution-devices {
        text-align: center;
        font-size: 1.5rem;
    }

    @include Height-adjust {
        text-align: center;
        font-size: 1.5rem;

    }

}

.getStarted {
    // get started section is the button of our intro section
    background-color: #61dafb;
    border: 0;
    padding: 1rem;
    margin: 0;
    margin-top: 1%;
    @include Standard-resolution-devices {
        font-weight: 400;
        padding: .7rem;
    }

    @include tablet_devices {

        margin-bottom: 5rem;
        font-weight: 500;
    }

    font-weight: 100;
    font-size: 1.2rem;
}


.next {
    // .next section targets the next svg element of our take the tour part 
    color: #61dafb;
    width: 2vw;
    height: 2vh;

    @include Standard-resolution-devices {
        margin-left: .3rem;
    }
}

.butonWrap {
    margin-top: 2rem;
}

.butonWrap>a {
    @include Standard-resolution-devices {
        font-size: 1.23rem;
        font-family: dubai;
    }

    font-size: 1.3rem;
    color: #61dafb;
}
// ************************************* React intro ending-links*************************************
// **************************************** about React************************************* 
// about react wraps our intro section for react js content of our pages
.aboutReact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5rem 0;

    @include Standard-resolution-devices {
        width: 100%;
    }

    @include width_adjust {
        width: 100%;
    }
}

.subHead {
    // subhead is the subheading of our components section
    width: 25vw;
    @include Standard-resolution-devices {
        width: 100%;
        background: $background-Getstarted;
        color: white;
        padding: 1rem;
    }

    @include Height-adjust {
        width: 100%;
        background: $background-Getstarted;
        color: white;
        padding: 1rem;
    }

    @include width_adjust {
        width: 100%;
        background: $background-Getstarted;
        color: white;
        padding: 1rem;
    }

    color: black;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
}

.subHead2,
.subHead3 {
    // different headings are targetted over here
    @include Standard-resolution-devices {
        margin-top: 3rem;
    }

    @include Height-adjust {
        margin-top: 3rem;
    }

    @include width_adjust {
        margin-top: 3rem;
    }
}

.subHead>h3 {
    font-weight: 300;

    @include Height-adjust {
        margin-bottom: 1rem;
    }

    @include Standard-resolution-devices {
        margin-bottom: 1rem;
    }

    @include width_adjust {
        margin-bottom: 1rem;
    }
}

.subHead>p {
    @include Standard-resolution-devices {
        font-weight: 360;
    }

    @include Height-adjust {
        font-weight: 360;

    }

    @include width_adjust {
        font-weight: 360;
    }

    font-weight: 400;
}

// *************************************Features start*************************************
.aboutJsx {
    // react features part are the main section of our page it includes the detailed features of reactjs
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3rem;

    @include Standard-resolution-devices {
        margin-top: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    @include Height-adjust {
        margin-top: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }

    @include width_adjust {
        margin-top: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.reactComponentInfo {
    // react component info is a little introduction of react js
    @include Standard-resolution-devices {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background: $background-Getstarted;
        padding-bottom: 2rem;
    }

    @include Height-adjust {
        flex-direction: column;
        flex-wrap: wrap;
        width: 91.5%;
        background: $background-Getstarted;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @include width_adjust {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background: $background-Getstarted;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    width: 30%;
}

.reactComponentInfo>p,
.reactComponentInfo>h1 {
    width: 100%;

    @include Standard-resolution-devices {
        color: #fff;
        margin-top: 1rem;
    }

    @include Height-adjust {
        color: #fff;
        margin-top: 1rem;
    }

    @include width_adjust {
        color: #fff;
        margin-top: 1rem;
    }
}

.state .image_component img {
    @include Standard-resolution-devices {
        object-position: 0px 0px;
    }

    @include Height-adjust {
        object-position: 0px 0px;
    }

    @include width_adjust {
        object-position: 0px 0px;
    }
}

.image_component>img {
    @include Standard-resolution-devices {
        width: 150vw;
        height: 100%;
        object-fit: cover;
        object-position: 0px 0px;
        border-radius: 0;
    }

    @include Height-adjust {
        width: 150vw;
        height: 100%;
        object-fit: cover;
        object-position: 0px 0px;
        border-radius: 0;
    }

    @include width_adjust {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0px 0px;
        border-radius: 0;
    }

    width: 100%;
    border-radius: 10px;
    height: 70%;
}

textarea {
    @include Standard-resolution-devices {
        display: none;
    }
}

.image_component {
    @include Standard-resolution-devices {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    @include Height-adjust {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    @include width_adjust {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // overflow-x: hidden;
    }

    overflow-x: hidden;
    float: right;
    width: 60%;
}

.ReactFeatures {
    padding: 2.5rem;

    @include Standard-resolution-devices {
        padding: 1rem 0;
    }

    @include Height-adjust {
        padding: 1rem 0;
    }

    @include width_adjust {
        padding: 1rem 0;
    }
}

.ReactFeatures p {
    font-weight: 400;
    line-height: 1.6rem;
    font-size: 1.1rem;
}

.mainHeaderReact {
    @include flex_center;
    height: 20vh;
    background: $background-Getstarted;
}

a {
    text-decoration: none;
}

@include buttonStyling;
.startReact{
    background: $background-Getstarted;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#takeTutorial {
    padding: .1rem;
    color: $react-color;
    font-weight: 400;
    font-family: dubai;
    font-size: 1.3rem;

    @include Standard-resolution-devices {
        font-size: 1rem;
    }

    svg {
        margin-left: .01rem;
    }
}

#tutorialPLace {
    margin-top: 3.5rem;

    @include Standard-resolution-devices {
        margin-bottom: 3.1rem;
    }

    margin-bottom: 2.1rem;
    margin-left: 1rem;
}

// *************************************Features END*************************************

.moreWrapper a,
.mainHeaderReact a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.footer {
    display: flex;

    @include Standard-resolution-devices {
        flex-direction: column;
    }

    @include Height-adjust {
        flex-direction: column;
    }



    flex-direction: row;
    background: $background-footer;
    padding: 5rem 4rem;
}

.moreWrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}

.moreWrapper>div>div {
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .91rem;
    font-weight: 600;
    margin-bottom: .71rem;
}

.copyRight p {
    color: #fff;
}

.commonFooterSelector {
    width: 35%;
    margin: 3.1rem;
    font-size: 1.1rem;
    font-family: dubai;
    font-weight: 400;
}

.footer img {
    height: 7%;

    @include Standard-resolution-devices {
        width: 70%;
    }

    @include Height-adjust {
        width: 70%;
        height: 47%;
    }

    width: 60%;
}

.aboutReact>div {
    font-size: 1.1rem;
}


a:hover {
    color: $react-color;
    transition: 0.1s all;
}

button:hover {
    background: #000;
    color: white;
    transition: 0.5s all;
}


highlight {
    background: #f8e0ff;
    color: black;
}

 