@media (max-width: 475px) and (max-height: 510px) {
  .main {
    background: rgba(0, 0, 0, 0.461);
    width: 100vw;
    overflow: hidden;
  }
}

* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
}

.mainHeader {
  background: #20232a;
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

@media (max-width: 769px) and (max-height: 1025px) {
  .search {
    width: 20%;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  .search {
    width: 10vw;
  }
}

input[type=text],
input[type=text]:focus {
  font-size: 17px;
  color: black;
  background-image: url(./images/search.svg);
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position-y: center;
  background-position-x: 10px;
  padding-right: 7px;
  padding-left: 34px;
  font-weight: 300;
}

.searchHolder:focus {
  background: #373940;
  outline: none;
  border-radius: 4px;
}

.searchHolder {
  background: transparent;
  border: none;
  color: white;
  padding: 6px;
}

@media (max-width: 769px) and (max-height: 1025px) {
  .searchHolder {
    width: 100%;
  }
}

@media (max-width: 685px) {
  .searchHolder {
    width: 50%;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  .searchHolder {
    width: 100%;
  }
}

.mainHeader a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

.nav-links {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 685px) {
  .nav-links {
    width: 45%;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .nav-links {
    overflow-x: scroll;
    width: 45%;
  }
}

@media (max-width: 685px) {
  .nav-links a {
    width: 20%;
    font-size: .7rem;
    margin-left: 2rem;
    width: 20%;
    font-size: .7rem;
    margin-left: 2rem;
  }
}

@media (max-width: 685px) {
  #documents {
    margin-left: 1rem;
  }
}

.React_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3%;
}

@media (max-width: 685px) {
  .React_logo {
    width: 13%;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  .React_logo {
    width: 10%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.React_logo > img {
  width: 4vw;
  height: 3.5vh;
}

@media (max-width: 685px) {
  .React_logo > img {
    width: 8vw;
    height: 8vh;
  }
}

.react {
  justify-self: flex-start;
  margin-left: -55px;
  font-weight: 300;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 350;
  letter-spacing: 1px;
}

@media (max-width: 769px) and (max-height: 1025px) {
  .react {
    display: none;
  }
}

@media (max-width: 685px) {
  .react {
    display: none;
  }
}

.react:hover {
  color: #61dafb;
}

.ending-links {
  font-weight: 350;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22%;
  margin-top: .5rem;
}

@media (max-width: 685px) {
  .ending-links {
    width: 40%;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .ending-links {
    height: 100%;
    width: 25%;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  .ending-links {
    width: 25%;
    height: 100%;
  }
}

@media (max-width: 685px) {
  .ending-links a {
    width: 1%;
    font-size: .8rem;
    margin-left: 1.5rem;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .ending-links a {
    width: 52%;
    font-size: 1rem;
    margin-bottom: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  .ending-links a {
    width: 22%;
  }
}

@media (max-width: 685px) {
  #version {
    width: 1%;
    font-size: .7rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  #version {
    margin-left: 6.5rem;
    display: none;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  #version {
    margin-left: 0rem;
  }
}

.language_svg {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  fill: currentcolor;
}

@media (max-width: 769px) and (max-height: 1025px) {
  .language_svg {
    margin-right: 1rem;
    display: none;
  }
}

@media (min-width: 770px) and (max-width: 1060px) {
  .language_svg {
    display: none;
    margin-right: 0rem;
  }
}

@media (max-width: 685px) {
  .language_svg svg {
    display: none;
  }
}

.ending-links > a:hover {
  color: #61dafb;
}

#react-logo {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.logo:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #282c34;
  height: 80vh;
  font-size: 2rem;
  position: relative;
  z-index: 100;
}

@media (max-width: 475px) and (max-height: 510px) {
  .intro {
    height: 100vh;
    padding: 12px;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .intro {
    height: 65vh;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .intro {
    height: 55%;
  }
}

.heading {
  color: #61dafb;
  margin: 0;
  margin-top: 7rem;
  font-size: 5rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  .heading {
    margin-top: 5rem;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .heading {
    margin-top: 5rem;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .heading {
    margin-top: 5rem;
  }
}

.subHeading {
  color: #ffffff;
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  margin-top: 5vw;
  text-align: center;
}

@media (max-width: 475px) and (max-height: 510px) {
  .subHeading {
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .subHeading {
    text-align: center;
    font-size: 1.5rem;
  }
}

.getStarted {
  background-color: #61dafb;
  border: 0;
  padding: 1rem;
  margin: 0;
  margin-top: 1%;
  font-weight: 100;
  font-size: 1.2rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  .getStarted {
    font-weight: 400;
    padding: .7rem;
  }
}

@media (max-width: 769px) and (max-height: 1025px) {
  .getStarted {
    margin-bottom: 5rem;
    font-weight: 500;
  }
}

.next {
  color: #61dafb;
  width: 2vw;
  height: 2vh;
}

@media (max-width: 475px) and (max-height: 510px) {
  .next {
    margin-left: .3rem;
  }
}

.butonWrap {
  margin-top: 2rem;
}

.butonWrap > a {
  font-size: 1.3rem;
  color: #61dafb;
}

@media (max-width: 475px) and (max-height: 510px) {
  .butonWrap > a {
    font-size: 1.23rem;
    font-family: dubai;
  }
}

.aboutReact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 0;
}

@media (max-width: 475px) and (max-height: 510px) {
  .aboutReact {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .aboutReact {
    width: 100%;
  }
}

.subHead {
  width: 25vw;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 475px) and (max-height: 510px) {
  .subHead {
    width: 100%;
    background: #282c34;
    color: white;
    padding: 1rem;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .subHead {
    width: 100%;
    background: #282c34;
    color: white;
    padding: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .subHead {
    width: 100%;
    background: #282c34;
    color: white;
    padding: 1rem;
  }
}

@media (max-width: 475px) and (max-height: 510px) {
  .subHead2,
  .subHead3 {
    margin-top: 3rem;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .subHead2,
  .subHead3 {
    margin-top: 3rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .subHead2,
  .subHead3 {
    margin-top: 3rem;
  }
}

.subHead > h3 {
  font-weight: 300;
}

@media (max-width: 613px) and (max-height: 900px) {
  .subHead > h3 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 475px) and (max-height: 510px) {
  .subHead > h3 {
    margin-bottom: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .subHead > h3 {
    margin-bottom: 1rem;
  }
}

.subHead > p {
  font-weight: 400;
}

@media (max-width: 475px) and (max-height: 510px) {
  .subHead > p {
    font-weight: 360;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .subHead > p {
    font-weight: 360;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .subHead > p {
    font-weight: 360;
  }
}

.aboutJsx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  .aboutJsx {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .aboutJsx {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .aboutJsx {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.reactComponentInfo {
  width: 30%;
}

@media (max-width: 475px) and (max-height: 510px) {
  .reactComponentInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    background: #282c34;
    padding-bottom: 2rem;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .reactComponentInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 91.5%;
    background: #282c34;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .reactComponentInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    background: #282c34;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.reactComponentInfo > p,
.reactComponentInfo > h1 {
  width: 100%;
}

@media (max-width: 475px) and (max-height: 510px) {
  .reactComponentInfo > p,
  .reactComponentInfo > h1 {
    color: #fff;
    margin-top: 1rem;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .reactComponentInfo > p,
  .reactComponentInfo > h1 {
    color: #fff;
    margin-top: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .reactComponentInfo > p,
  .reactComponentInfo > h1 {
    color: #fff;
    margin-top: 1rem;
  }
}

@media (max-width: 475px) and (max-height: 510px) {
  .state .image_component img {
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .state .image_component img {
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .state .image_component img {
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
  }
}

.image_component > img {
  width: 100%;
  border-radius: 10px;
  height: 70%;
}

@media (max-width: 475px) and (max-height: 510px) {
  .image_component > img {
    width: 150vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
    border-radius: 0;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .image_component > img {
    width: 150vw;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
    border-radius: 0;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .image_component > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0px 0px;
       object-position: 0px 0px;
    border-radius: 0;
  }
}

@media (max-width: 475px) and (max-height: 510px) {
  textarea {
    display: none;
  }
}

.image_component {
  overflow-x: hidden;
  float: right;
  width: 60%;
}

@media (max-width: 475px) and (max-height: 510px) {
  .image_component {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .image_component {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .image_component {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.ReactFeatures {
  padding: 2.5rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  .ReactFeatures {
    padding: 1rem 0;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .ReactFeatures {
    padding: 1rem 0;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .ReactFeatures {
    padding: 1rem 0;
  }
}

.ReactFeatures p {
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.1rem;
}

.mainHeaderReact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  background: #282c34;
}

a {
  text-decoration: none;
}

.getstarted {
  background-color: #61dafb;
  border: 0;
  padding: 1rem;
  margin: 0;
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  .getstarted {
    margin-top: .5rem;
    padding: .5rem;
    font-weight: 400;
  }
}

.startReact {
  background: #282c34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#takeTutorial {
  padding: .1rem;
  color: #61dafb;
  font-weight: 400;
  font-family: dubai;
  font-size: 1.3rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  #takeTutorial {
    font-size: 1rem;
  }
}

#takeTutorial svg {
  margin-left: .01rem;
}

#tutorialPLace {
  margin-top: 3.5rem;
  margin-bottom: 2.1rem;
  margin-left: 1rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  #tutorialPLace {
    margin-bottom: 3.1rem;
  }
}

.moreWrapper a,
.mainHeaderReact a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #20232a;
  padding: 5rem 4rem;
}

@media (max-width: 475px) and (max-height: 510px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.moreWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

.moreWrapper > div > div {
  color: #999999;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .91rem;
  font-weight: 600;
  margin-bottom: .71rem;
}

.copyRight p {
  color: #fff;
}

.commonFooterSelector {
  width: 35%;
  margin: 3.1rem;
  font-size: 1.1rem;
  font-family: dubai;
  font-weight: 400;
}

.footer img {
  height: 7%;
  width: 60%;
}

@media (max-width: 475px) and (max-height: 510px) {
  .footer img {
    width: 70%;
  }
}

@media (max-width: 613px) and (max-height: 900px) {
  .footer img {
    width: 70%;
    height: 47%;
  }
}

.aboutReact > div {
  font-size: 1.1rem;
}

a:hover {
  color: #61dafb;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

button:hover {
  background: #000;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

highlight {
  background: #f8e0ff;
  color: black;
}
/*# sourceMappingURL=react_styles.css.map */